.mail-folder-list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.mail-folder-list button {
    padding: 9px 18px;
    border: 0;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s, color 0.2s;
}

.mail-folder-list button:hover {
    background-color: #e7eef5;
}

.mail-folder-list button.active {
    background-color: #c2e7ff;
    font-weight: 700;
}

@media (max-width: 740px) {
    .mail-folder-list {
        flex-wrap: wrap;
    }
}